.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css or another CSS file */
.link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.route-enter {
  opacity: 0;
}

.route-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.route-exit {
  opacity: 1;
}

.route-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


/* Title section */
.upcoming-matches-container h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; /* Uppercase for emphasis */
  letter-spacing: 1px; /* Slightly more spacing between letters */
}



/* App.css */
.upcoming-matches-container {
  padding: 30px;
  background-color: #ffffff; /* White background */
}

.upcoming-title {
  color: #006400; /* Dark green title */
  font-weight: bold;
}

.match-card {
  border: 2px solid #006400; /* Dark green border */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 100, 0, 0.1); /* Subtle green shadow */
  overflow: hidden;
  background-color: #f8fff4; /* Light green background */
  transition: transform 0.2s;
}

.match-card:hover {
  transform: scale(1.02); /* Zoom on hover */
  box-shadow: 0 6px 8px rgba(0, 128, 0, 0.2);
}

.match-card-title {
  color: #006400; /* Dark green title */
  font-weight: bold;
  font-size: 1.25rem;
}

.match-card-subtitle {
  color: #2e8b57; /* Sea green subtitle */
  font-style: italic;
  margin-bottom: 10px;
}

.match-card-text {
  font-size: 1rem;
  color: #333333; /* Neutral text color */
}

.match-card-text strong {
  color: #006400; /* Dark green for labels */
}

