.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css or another CSS file */
.link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.route-enter {
  opacity: 0;
}

.route-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.route-exit {
  opacity: 1;
}

.route-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
/* Add hover effects to cards */
.upcoming-matches-container .card {
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.upcoming-matches-container .card:hover {
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 8px 15px rgba(0, 128, 0, 0.2); /* Adds a larger shadow */
  border-color: darkgreen; /* Changes border color on hover */
}

/* Title styling */
.upcoming-matches-container .card-title {
  font-size: 1.25rem;
  transition: color 0.3s; /* Smooth color change */
}

.upcoming-matches-container .card-title:hover {
  color: darkgreen; /* Slightly darker green when hovered */
}

/* Subtitle styling */
.upcoming-matches-container .card-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Text styling */
.upcoming-matches-container .card-text {
  line-height: 1.5;
}

/* Overall card container */
.upcoming-matches-container .card-body {
  padding: 20px;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px;
}

/* Row styling */
.upcoming-matches-container .row {
  margin: 0 auto;
}

/* Title section */
.upcoming-matches-container h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; /* Uppercase for emphasis */
  letter-spacing: 1px; /* Slightly more spacing between letters */
}
